@import './variable';


body {
   font-family: 'Lato','sans-serif';
   -webkit-font-smoothing : antialiased ;
   color : $dark;
   
}

nav li:last-child a{ 
    background: $primary;
    &:hover{
      background-color: $primary-hover;
      transition: all .3s ease-in-out ; 
    }
}

 nav li a {
    &:hover{
       color : $primary
    }
 }

 section.hero{
  background: $secondary;
 }

 .size{
    background: $secondary;
 }

 .add-to-cart{
    border : 2px solid $primary;
    color : $primary;
    transition: $smooth;
    &:hover{
       background: $primary;
       color : $pure;
       border-color: $pure;
       transition: $smooth;
    }
 }

 .btn-primary{
    background: $primary;
    &:hover{
       background: $primary-hover;
       color : $pure;
       transition: $smooth;
    }
 }

 section.cart{
    background: $secondary;
    .amount {
       color: $primary;
    }
 }

 section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);
    a{
     color : $primary;  
     &:hover{
        color : $primary-hover
     }
    }
 }

 